# --- PRIVATE BOT DATA (DO NOT SYNC) ---
.env
lastfm_users.json
avatar_cooldown.txt

# --- PYTHON JUNK ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/
.ruff_cache/

# --- IDE / SYSTEM FILES ---
.idea/
.vscode/
.DS_Store
.mypy_cache/

# --- DISTRIBUTION / PACKAGING ---
*.egg-info/
dist/
build/
